@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
body{
    color: grey;
    font-family: 'Anta', sans-serif;
    background-color: rgb(39, 27, 27);
}
th { width: 300px;}
#bloc-menu {
    display: flex;
    width: 100vw; /* Utilise la largeur du viewport pour que le menu prenne toute la largeur de l'écran */
    justify-content: space-around; /* Espacer les éléments du menu uniformément */
    align-items: center; /* Centrer les éléments du menu verticalement */
	height: 36px;
	background-color: rgb(39, 27, 27);
	float: center;
	color: white;
}
a{
    color: white;
    text-decoration: none;
}


#img_container{
    list-style: none;
    display: grid;
    grid-template-columns:40% 40% ;
}

#img_container  .image{
    height:40vh;
    width: auto;
}

