.image{
    img{
        width: 200px;
        height: 200px;
        
    }
    #trounoir{
        object-position: right;
    }    
}
.texte{
    width: 100px;
    height: 100px;
    position: relative 80px;
}

